.app {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.btn {
  color: grey;
  letter-spacing: 0.2em;
  border-top: 2px solid;
  border-bottom: 2px solid;
  padding-top: 6px;
  padding-bottom: 6px;
  width: 5em;
  height: 25px;
  line-height: 25px;
  text-align: center;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.btn:hover {
  color: darkgrey;
  cursor: pointer;
}

.sizeSelector {
  display: flex;
}

.sizeSelector .btn {
  margin-left: 30px;
  margin-right: 30px;
}

.sizeSelector .btn.active {
  color: lightgrey;
  pointer-events: none;
}

.row {
  display: flex;
}

.card {
  background: url("https://images.unsplash.com/photo-1508610048659-a06b669e3321?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80");
  background-size: cover;
  border-radius: 20px;
  margin: 10px;
  box-shadow: 0 0 5px black;
  cursor: pointer;
}

.flipped {
  background: unset;
  box-shadow: 0 0 10px lightgrey;
  transition: background-color 0.3s;
}

.newMatch {
  box-shadow: 0 0 25px white !important;
  transition: box-shadow 1s;
}

.matched {
  cursor: default;
}

.gameOver .card {
  box-shadow: 0 0 30px white;
  transition: box-shadow 4s;
}
